<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>vue app</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="app" v-cloak>
		<!-- データバインディング -->
		<p>{{message}}</p>
		<p>{{state.count}}</p>
		<p>{{state.hoge}}</p>
		<!-- mustacheには式が記述可能 -->
		<p>{{1+1}}</p>
		<p>{{10 > 1 ? 'a' : 'b'}}</p>
		<!-- 属性にはv-bindディレクティブを使用する -->
		<input type="text" v-bind:value="message">
		<!-- 省略可能 -->
		<input type="text" :value="message">
		<!-- DOMプロパティにバインド -->
		<p :text-content.prop="message"></p>
		<hr>
		<p>{{count}}回クリック</p>
		<button v-on:click="increment">カウントを増やす</button>
		<hr>
		<!-- クラス名でハイフンがある場合は'で囲う -->
		<p :class="{child: isChild, 'is-active': isActive}">text</p>
		<!-- スタイルの場合はキャメルケースで記述する -->
		<p :style="{color: textColor, backgroundColor: bgColor}">text</p>
		<!-- 三項演算子はブラケットを使用する -->
		<p :class="[isActive ? 'active' : '']">text</p>
		<p :style="myStyle">myText</p>
		<hr>
		<!-- 複数データのバインド v-bindディレクティブの引数を省略してオブジェクトを渡す -->
		<img v-bind="item">
		<!-- 一部の要素に変更を加える -->
		<img v-bind="item" :id="'hoge-' + item.id">
		<hr>
		<!-- SVGのデータバインディングもできる -->
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
			<circle cx="100" cy="75" v-bind:r="radius" fill="lightpink" />
		</svg>
		<input type="range" min="0" max="100" v-model="radius">
		<hr>
		<!-- 条件分岐 -->
		<!-- コメントアウトされる -->
		<div v-if="ok">v-if</div>
		<!-- スタイルで非表示となる -->
		<div v-show="ok">v-show</div>
		<!-- v-ifのグループ化 -->
		<template v-if="ok">
			<header>ヘッダー</header>
			<main>メイン</main>
		</template>
		<!-- if else -->
		<!-- 仮想DOMの更新エラーを回避するためにユニークなkeyを付与すること -->
		<!-- ただし単に表示させるだけなら問題ない -->
		<div v-if="type === 'A'" key="1">
			A
		</div>
		<div v-else-if="type === 'B'" key="2">
			B
		</div>
		<div v-else key="3">
			other1
		</div>
		<hr>
		<!-- ループ -->
		<ul>
			<li v-for="item in list" :key="item.id * 10">
				ID.{{item.id}} {{item.name}} {{item.hp}}
			</li>
			<!-- 配列はインデックスを受け取れる -->
			<!-- <li v-for="(item, index) in list" :key="item.id"></li> -->
			<!-- オブジェクトはkeyも受け取れる -->
			<!-- <li v-for="(item key index) in list" :key="item.id"></li> -->
		</ul>
		<!-- ループx条件分岐 -->
		<!-- 要素に追加 -->
		<ul>
			<li v-for="item in list"
				:key="item.id * 100"
				:class="{strong: item.hp > 300}">
				ID.{{item.id}} {{item.name}} {{item.hp}}
				<span v-if="item.hp > 300">強い！</span>
			</li>
		</ul>
		<!-- 特定の条件のみ出力 -->
		<ul>
			<li v-for="item in list"
				:key="item.id * 1000"	
				v-if="item.hp < 300">
				ID.{{item.id}} {{item.name}} {{item.hp}}
			</li>
		</ul>
		<hr>
		<!-- リストの更新 -->
		名前 <input type="text" v-model="name">
		<button v-on:click="doAdd">追加</button>
		<button v-on:click="doFiltering">hp100以下で絞り込み</button>
		<ul>
			<li v-for="(item, index) in list"
				:key="item.id * 10000">
				ID.{{item.id}} {{item.name}} {{item.hp}}
				<span v-if="item.hp < 50">瀕死！</span>
				<button v-on:click="doRemove(index)">削除</button>
				<button v-on:click="doMod(index)">編集</button>
				<button v-on:click="doAttack(index)">攻撃</button>
			</li>
		</ul>
		<hr>
		<!-- オプションにデータを持たないv-for -->
		<span v-for="item in 15">{{item}}</span><br>
		<span v-for="item in [1, 2, 10, 100]">{{item}}</span><br>
		<!-- 文字列に使うと一文字ずつ実行 -->
		<div v-for="item in 'abc'">{{item}}</div>
		<hr>
		<!-- 外部からデータを取得 -->
		<ul>
			<li v-for="item in list2"
				:key="item.id * 100000">
				ID.{{item.id}} {{item.name}} {{item.hp}}
			</li>
		</ul>
		<hr>
		<!-- 直接DOMを参照するためにhelloと名付けた -->
		<p ref="hello">hello</p>
		<!-- 直接更新した時の動きの確認 -->
		<button v-on:click="handleClick">カウントアップ</button>
		<button v-on:click="show=!show">表示/非表示</button>
		<span ref="count" v-if="show">0</span>
		<hr>
		<!-- テンプレート制御ディレクティブ -->
		<!-- v-pre コンパイルをスキップする -->
		<a :href="url" v-pre>{{message}}</a><br>
		<!-- v-once 初回のみコンパイルする -->
		<a :href="url" v-once>{{message}}</a><br>
		<!-- v-text mustacheのみで構成されている要素ならばディレクティブを使ってバインドできる -->
		<a :href="url" v-text="message"></a><br>
		<!-- vーhtml HTMLを適応する -->
		<a :href="url" v-html="htmlMsg"></a><br>
		<!-- v-cloak インスタンスの準備が終わると自動で取り除かれる -->
		<!-- 例：#appに対して付与しcssで更新時の動きを制御 -->
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="main.js"></script>
</body>
</html>